body, html{
	background-color: #E7EBFF;
	font-family: arial;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label, button {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #4175C6;
    display: inline-block;
    transition: .4s;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
}

.card{
	background-color: white;
	padding: 7px;
	padding-bottom: 20px;	
	margin-bottom: 2vh;
	border-radius: 3px;
}
	.card img{
		max-width: 100%;
	}